:root {
  --card-gap: 20px;
  --card-shift-y: -4px;
  --card-border-radius: 20px;
  --card-text-margin: 6px;
  --card-transition: transform 200ms ease;
  --max-vertical-lines: 3;
  --secondary-clr: #d8d8d8;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - var(--card-gap));
  max-width: calc(33.33% - var(--card-gap));
  color: black;
  border-radius: var(--card-border-radius);
  transition: var(--card-transition);
  background: var(--secondary-clr);
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  transform: translateY(var(--card-shift-y));
  -webkit-transform: translateY(var(--card-shift-y));
  -moz-transform: translateY(var(--card-shift-y));
  -ms-transform: translateY(var(--card-shift-y));
  -o-transform: translateY(var(--card-shift-y));
}

.card:hover .arrow svg {
  transform: translate(4px, -4px);
}

.card img {
  height: 14rem;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  height: 13em;
  background: var(--shadow-gradient);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.text {
  padding: 10px;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: var(--card-text-margin);
  text-wrap: nowrap;
  overflow: hidden;
}

.arrow svg {
  position: relative;
  width: 18px;
  height: 18px;
  stroke: white;
  left: 3px;
  transition: var(--card-transition);
}

.location {
  font-size: small;
  color: black;
  margin-bottom: var(--card-text-margin);
}

.chips {
  align-items: flex-end;
  font-weight: bold;
  margin: var(--card-text-margin);
  margin-top: 0;
  max-height: 52px;
}

@media screen and (max-width: 1300px) {
  .card {
    flex: 0 0 calc(50% - var(--card-gap));
    max-width: calc(50% - var(--card-gap));
  }
}

@media screen and (max-width: 980px) {
  .card {
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
    height: 13rem;
    overflow: hidden;
  }

  .card img {
    width: 13rem;
    height: 100%;
    object-position: top left;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--card-border-radius);
  }

  .title {
    font-size: 16px;
  }
}