:root {
  --card-gap: 20px;
  --card-shift-y: -4px;
  --card-border-radius: 20px;
  --card-text-margin: 6px;
  --card-transition: transform 200ms ease;
  --max-vertical-lines: 3;
  --secondary-clr: #d8d8d8;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - var(--card-gap));
  max-width: calc(33.33% - var(--card-gap));
  color: black;
  border-radius: var(--card-border-radius);
  transition: var(--card-transition);
  background: var(--secondary-clr);
  text-decoration: none;
  overflow: hidden;
  min-width: 200px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(var(--card-shift-y));
  -webkit-transform: translateY(var(--card-shift-y));
  -moz-transform: translateY(var(--card-shift-y));
  -ms-transform: translateY(var(--card-shift-y));
  -o-transform: translateY(var(--card-shift-y));
}

.card img {
  height: 14rem;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 14em;
  overflow: hidden;
  background: var(--shadow-gradient);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.text {
  padding: 10px;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  text-wrap: wrap;
  overflow: hidden;
}

.star_container {
  display: flex;
  margin-bottom: 4px;
  gap: 8px;
  font-weight: normal;
  align-items: center;
}

.review_count {
  font-size: 14px;
  transform: translateY(1px);
}

.star {
  color: gray;
  font-size: 20px !important;
}

.star_filled {
  font-size: 20px !important;
}

.star:hover {
  cursor: pointer;
}

.info {
  font-size: small;
  color: black;
  margin-bottom: var(--card-text-margin);
}

.chips {
  align-items: flex-end;
  font-weight: bold;
  margin: var(--card-text-margin);
  overflow: hidden;
}

@media screen and (max-width: 1500px) {
  .card {
    flex: 0 0 calc(50% - var(--card-gap));
    max-width: calc(50% - var(--card-gap));
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 980px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .content {
    height: auto;
  }
}