*,
*::before,
*::after {
  box-sizing: border-box;
}


.destination-card {
  width: 100%;
  max-width: 20vw;
  height: 25vh;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.destination-image {
  height: 60%; /* Takes the top portion of the card */
  background-size: cover;
  background-position: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.destination-info {
  background-color: #003052;
  color: #ebe9ec;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destination-city {
  font-size: 1.2rem;
  color: #d3d0d3;
  margin: 0;
}

.destination-country {
  font-size: 1rem;
  color: #a9a9a9;
  margin: 5px 0 0;
}

.destination-card-link {
  text-decoration: none;
  color: inherit;
}

.destination-card-link:hover {
  text-decoration: none;
}


/* For smaller screens */
@media (max-width: 768px) {
    .destination-card {
        max-width: 75vw; /* Adjust to 75% of the viewport width */
        height: 40vh; /* Increase height for better balance */
        margin-bottom: 15px; /* Ensure spacing between cards */
    }

    /* Ensure destination cards are centered and prevent overflow */
    .destination-cards-container {
        width: 75vw; /* Set to 75% of the screen width */
        margin: 0 auto; /* Center the container */
        box-sizing: border-box; /* Ensure no overflow */
    }
}