.dropdown {
    width: 100%;
    height: 40px;
    box-shadow:
      0 1px 1px var(--box-shadow-color),
      0 2px 2px var(--box-shadow-color),
      0 4px 4px var(--box-shadow-color),
      0 8px 8px var(--box-shadow-color);
    outline: 1px solid rgb(158, 158, 158);
    background: white;
    border-radius: 4px;
    z-index: 2;
  }
  
  .dropdown button {
    background: white;
    color: black;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    width: 20px;
    margin: 0;
    width: 100%;
  }
  
  .dropdown button:hover {
    background: white;
    width: 100%;
    color: black;
    transform: none;
  }
  
  .options {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
  }
  
  .option_btn {
    outline: 1px solid rgb(158, 158, 158);
    height: 24px;
    padding: 0;
  }
  
  .option_btn:hover {
    background: rgb(216, 216, 216) !important;
  }
  
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
  }
  
  .toggle {
    position: relative;
    left: 10px;
  }
  
  .arrow {
    position: relative;
    top: 2px;
    right: 5px;
    width: 24px;
    fill: gray;
  }

  .arrow_rotated {
    transform: rotate(180deg);
  }
  
  .visible {
    visibility: visible;
  }