@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


/* Navbar.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif !important;
}

body {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/* Navbar Styling */
.navbar {
    height: 70px;
    background-color: #003052;
    /* Main color */
    display: flex;
    justify-content: space-between;
    /* Aligns left, center, and right sections */
    align-items: center;
    /* Vertically centers items */
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Logo Styling */
.navbar-left .logo-img {
    height: 50px;
    /* Scale logo to 80% of the navbar height */
    width: auto;
    /* Maintain aspect ratio */
    object-fit: contain;
    /* Ensure the logo fits within the container without distortion */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for scaling */
    margin-left: 20px;
}

.navbar-left .logo-img:hover {
    transform: scale(1.05);
    /* Increase the size by 10% when hovered */
}

.navbar-left .logo {
    display: inline-block;
    padding: 0;
}

/* Navbar Links */

.navbar-center,
.navbar-right {
    font-family: 'DM Sans', sans-serif;
}

.navbar-center {
    display: flex;
    flex-grow: 1;
    /* Ensures links take up available space and are evenly spaced */
    justify-content: center;
    gap: 10%;
    margin-left: 40px;
}

.navbar-center .nav-link {
    color: #ebe9ec;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    line-height: 1;
    font-family: 'DM Sans', sans-serif;
}

.navbar-center .nav-link:hover {
    background-color: #004573;
    /* Darker shade on hover */
    border-radius: 5px;
}

/* Right Section (Login/Register or Logout) */
.navbar-right {
    display: flex;
    gap: 10px;
    position: relative;
}

.navbar-right .nav-link {
    color: #ebe9ec;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    line-height: 1;
}

.nav-link {
    padding: 8px 20px;
}

.navbar-right .nav-link:hover {
    background-color: #004573;
    /* Darker shade on hover */
    border-radius: 5px;
    cursor: pointer;
}

.login-register {
    display: inline-block;
    position: relative;
}

.active {
    text-decoration: underline !important;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .navbar {
        padding-right: calc(28px * 2 + 20px);
        /* 2x the hamburger width plus 20px */
    }

    .navbar-center,
    .navbar-right {
        display: none;
    }

    .hamburger[class*="open"]~ .navbar .logo-img {
        margin-left: 0;
    }

    .hamburger[class*="open"]~ .navbar .navbar-center {
        display: initial;
        margin: 0;
        margin-top: 20px;
    }

    .hamburger[class*="open"]~ .navbar .navbar-right {
        display: initial;
        padding: 8px 20px; 
    }

    .hamburger[class*="open"]~ .navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }

    .hamburger[class*="open"]~ .navbar .navbar-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger[class*="open"]~ .navbar .nav-link {
        font-size: 4vw;
    }
}